isort==4.3.21
tox
wheel
bumpversion
twine
black
flake8
pylint
cython
sphinx
sphinx-rtd-theme
mypy==0.770
click
click-log
pomegranate
pandas
numpy
matplotlib
pysam>=0.16.0.1
progress
construct
pathos
ssw==0.4.1
