graft tests
graft src

include README.rst
include LICENSE.txt
include tox.ini .travis.yml
include src/longbow/preconfigured_models/**/*.json

prune **/.hypothesis

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store
